/* THEME */
.bg-cover {
  background-color: #687ade;
  background-image: url(../images/binary.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  display: block;
}
h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}
h2 {
  font-size: 1.25rem;
}
#main-title {
  font-size: 5em;
}
p, h2, h3, a {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #4574de;
  font-weight: bold;
}
a:hover {
  color: #2940BA;
}
.btn-primary {
  background-color: #485DCE;
  border: #2940BA;
}
.btn-primary:hover {
  background-color: #2940BA;
}

/* MODULES */
.card-container {
  margin-top: 5em;
  background-color: #fff;
  border-radius: 2em 2em 0 0;
}
.card-container>h1 {
  color: #687ade;
  padding: 1em;
}
.card-container.small {
  width: 50%;
  padding-bottom: 4em;
  border-radius: 2em;
}

/* INDEX */
.jumbotron {
  padding: 8em;
}
#icons {
  width: 60em;
}

/* SURVEY */
form {
  padding-left: 5em;
  padding-right: 5em;
}
.form-group>label {
  font-size: 1.25rem;
}
.input_set {
  margin-bottom: 3em;
}
#submit {
  padding-bottom: 2em;
}

/* ADMIN */
.scrollable {
  overflow: scroll;
  max-height: 100vh;
}
.table {
  width: 100%;
}
td > button {
  margin-bottom: .5em;
  width: 100%;
}

/* FOOTER */
footer  {
  width: 100%;
  background-color: #687ade;
}
.sticky {
  position: absolute;
  bottom: 0;
}
footer .container {
  padding: 1em;
}
footer p {
  color: #a9aac9;
}
footer a {
  color: #a9aac9;
}
footer a:hover {
  color: #;
}
