.bg-cover {
  background-color: #687ade;
  background-image: url(../images/binary.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}
p, h2, h3, a {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  height: 40vh;
}
.card-container {
  margin-top: 5em;
  background-color: #fff;
  border-radius: 2em 2em 0 0;
}
.card-container>h1 {
  color: #687ade;
  padding: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: #687ade;
}
footer p {
  color: #a9aac9;
}
