.bg-cover {
  background-color: #687ade;
  background-image: url(../images/binary.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}
h2 {
  font-size: 1.25rem;
}
#main-title {
  font-size: 5em;
}
p, h2, h3, a {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #4574de;
  font-weight: bold;
}
a:hover {
  color: #2940BA;
}
.btn-primary {
  background-color: #485DCE;
  border: #2940BA;
}
.btn-primary:hover {
  background-color: #2940BA;
}

.jumbotron {
  padding: 8em;
}
.card-container {
  margin-top: 5em;
  background-color: #fff;
  border-radius: 2em 2em 0 0;
}
.card-container>h1 {
  color: #687ade;
  padding: 1em;
}

form {
  padding-left: 5em;
  padding-right: 5em;
}
.form-group>label {
  font-size: 1.25rem;
}
.input_set {
  margin-bottom: 3em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #687ade;
}
footer .container {
  padding: 1em;
}
footer p {
  color: #a9aac9;
}
footer a {
  color: #a9aac9;
}
footer a:hover {
  color: #;
}
